<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>202638AD1AC4562100B3316E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>209739441AC36CB600A61474</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20B5A7141BA0884D00A8D955</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20B5A71E1BA088E100A8D955</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
