<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ay</string>
				<string>gbs</string>
				<string>gym</string>
				<string>hes</string>
				<string>kss</string>
				<string>nsf</string>
				<string>nsfe</string>
				<string>sap</string>
				<string>spc</string>
				<string>vgm</string>
				<string>miniusf</string>
				<string>usf</string>
				<string>mini2sf</string>
				<string>2sf</string>
				<string>minincsf</string>
				<string>ncsf</string>
				<string>minigsf</string>
				<string>gsf</string>
				<string>minipsf</string>
				<string>psf</string>
				<string>minipsf2</string>
				<string>psf2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VGM</string>
			<key>CFBundleTypeName</key>
			<string>Video Game Music</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>Document</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>brstm</string>
				<string>bfstm</string>
				<string>bcstm</string>
				<string>g1l</string>
				<string>nus3bank</string>
				<string>ast</string>
				<string>afc</string>
				<string>adx</string>
				<string>ddsp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VGM</string>
			<key>CFBundleTypeName</key>
			<string>Streamed Video Game Music</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>Document</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.tellowkrinkle.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015 TellowKrinkle. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>VGMPlayerApplication</string>
</dict>
</plist>
