<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ay</string>
				<string>gbs</string>
				<string>gym</string>
				<string>hes</string>
				<string>kss</string>
				<string>nsf</string>
				<string>nsfe</string>
				<string>sap</string>
				<string>spc</string>
				<string>vgm</string>
				<string>miniusf</string>
				<string>usf</string>
				<string>mini2sf</string>
				<string>2sf</string>
				<string>minincsf</string>
				<string>ncsf</string>
				<string>minigsf</string>
				<string>gsf</string>
				<string>minipsf</string>
				<string>psf</string>
				<string>minipsf2</string>
				<string>psf2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VGM</string>
			<key>CFBundleTypeName</key>
			<string>Video Game Music</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>Document</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ads</string>
				<string>ss2</string>
				<string>ass</string>
				<string>ast</string>
				<string>bg00</string>
				<string>bmdx</string>
				<string>ccc</string>
				<string>cnk</string>
				<string>dxh</string>
				<string>enth</string>
				<string>fag</string>
				<string>filp</string>
				<string>gcm</string>
				<string>gms</string>
				<string>hgc1</string>
				<string>ikm</string>
				<string>ild</string>
				<string>ivb</string>
				<string>joe</string>
				<string>kces</string>
				<string>khv</string>
				<string>leg</string>
				<string>mcg</string>
				<string>mib</string>
				<string>mi4</string>
				<string>mic</string>
				<string>mihb</string>
				<string>msa</string>
				<string>msvp</string>
				<string>musc</string>
				<string>npsf</string>
				<string>pnb</string>
				<string>psh</string>
				<string>rkv</string>
				<string>rnd</string>
				<string>rstm</string>
				<string>rws</string>
				<string>rxw</string>
				<string>snd</string>
				<string>sfs</string>
				<string>sl3</string>
				<string>smpl</string>
				<string>ster</string>
				<string>str</string>
				<string>sth</string>
				<string>sts</string>
				<string>svag</string>
				<string>svs</string>
				<string>tec</string>
				<string>tk5</string>
				<string>vas</string>
				<string>vag</string>
				<string>vgs</string>
				<string>vig</string>
				<string>vpk</string>
				<string>vs</string>
				<string>vsf</string>
				<string>wp2</string>
				<string>xa2</string>
				<string>xa30</string>
				<string>aaap</string>
				<string>agsc</string>
				<string>amts</string>
				<string>asr</string>
				<string>bns</string>
				<string>bo2</string>
				<string>capdsp</string>
				<string>cfn</string>
				<string>ddsp</string>
				<string>dsp</string>
				<string>gca</string>
				<string>gcm</string>
				<string>gsp</string>
				<string>hps</string>
				<string>idsp</string>
				<string>ish</string>
				<string>isd</string>
				<string>lps</string>
				<string>mpdsp</string>
				<string>mss</string>
				<string>mus</string>
				<string>ndp</string>
				<string>pdt</string>
				<string>sdt</string>
				<string>smp</string>
				<string>sns</string>
				<string>spt</string>
				<string>spd</string>
				<string>ssm</string>
				<string>stm</string>
				<string>dsp</string>
				<string>str</string>
				<string>sth</string>
				<string>sts</string>
				<string>swd</string>
				<string>thp</string>
				<string>tydsp</string>
				<string>vjdsp</string>
				<string>waa</string>
				<string>wac</string>
				<string>wad</string>
				<string>wam</string>
				<string>was</string>
				<string>wsd</string>
				<string>wsi</string>
				<string>ydsp</string>
				<string>ymf</string>
				<string>zwdsp</string>
				<string>aiff</string>
				<string>asd</string>
				<string>baka</string>
				<string>bh2pcm</string>
				<string>dmsg</string>
				<string>gcsw</string>
				<string>gcw</string>
				<string>his</string>
				<string>int</string>
				<string>pcm</string>
				<string>kraw</string>
				<string>raw</string>
				<string>rwx</string>
				<string>sap</string>
				<string>snd</string>
				<string>sps</string>
				<string>str</string>
				<string>xss</string>
				<string>voi</string>
				<string>wb</string>
				<string>zsd</string>
				<string>matx</string>
				<string>wavm</string>
				<string>wvs</string>
				<string>xmu</string>
				<string>xvas</string>
				<string>xwav</string>
				<string>adpcm</string>
				<string>dcs</string>
				<string>dcsw</string>
				<string>str</string>
				<string>spsd</string>
				<string>bar</string>
				<string>dvi</string>
				<string>hwas</string>
				<string>idvi</string>
				<string>ivaud</string>
				<string>myspd</string>
				<string>stma</string>
				<string>strm</string>
				<string>aifc</string>
				<string>asf</string>
				<string>as4</string>
				<string>ast</string>
				<string>aud</string>
				<string>aus</string>
				<string>bcstm</string>
				<string>bfstm</string>
				<string>brstm</string>
				<string>emff</string>
				<string>fsb</string>
				<string>wii</string>
				<string>genh</string>
				<string>musx</string>
				<string>nwa</string>
				<string>psw</string>
				<string>rwar</string>
				<string>rwav</string>
				<string>rwsd</string>
				<string>rsd</string>
				<string>rrds</string>
				<string>sad</string>
				<string>seg</string>
				<string>sng</string>
				<string>asf</string>
				<string>str</string>
				<string>eam</string>
				<string>strm</string>
				<string>ss7</string>
				<string>swav</string>
				<string>xwb</string>
				<string>wav</string>
				<string>lwav</string>
				<string>2xd9</string>
				<string>aax</string>
				<string>acm</string>
				<string>adp</string>
				<string>adx</string>
				<string>afc</string>
				<string>ahx</string>
				<string>aix</string>
				<string>baf</string>
				<string>bgw</string>
				<string>bnsf</string>
				<string>caf</string>
				<string>de2</string>
				<string>kcey</string>
				<string>lsf</string>
				<string>mwv</string>
				<string>ogg</string>
				<string>logg</string>
				<string>p3d</string>
				<string>rsf</string>
				<string>sab</string>
				<string>s14</string>
				<string>sss</string>
				<string>sc</string>
				<string>scd</string>
				<string>sd9</string>
				<string>smp</string>
				<string>spw</string>
				<string>ps2stm</string>
				<string>str</string>
				<string>stx</string>
				<string>um3</string>
				<string>xa</string>
				<string>g1l</string>
				<string>nus3bank</string>
				<string>ast</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VGM</string>
			<key>CFBundleTypeName</key>
			<string>Streamed Video Game Music</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>Document</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.tellowkrinkle.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015 TellowKrinkle. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>VGMPlayerApplication</string>
</dict>
</plist>
