<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>202639CD1AC458E100B3316E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20973D9E1AC3700000A61474</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20B5A8301BA08A3600A8D955</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
