<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GameMusicEmu-ObjC-Debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GameMusicEmu-ObjC-Release.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MiniVGMPlayer-Debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MiniVGMPlayer-Release.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>VGMPlayer-Debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>VGMPlayer-Release.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>20AE87EA1BC5B0BE00597866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20AE87FC1BC5B0BE00597866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20AE880F1BC5B0D500597866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20AE881A1BC5B0FC00597866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20AE88321BC5B0FC00597866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
